


html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	color: black;
}
.intro {
	height: 100%;
	width: 100%;
	margin: 0;
	top: 0;
	background: url('../image/main4.jpg');
	display: table;
	background-size: cover;
	background-position: center;	
}
#wrapper{
	position: absolute;
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	opacity: 0.2;
	background-color: white;
	background-size: cover;
}
.inner{
	margin:0;
	padding: 0;
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	height: 100%;
	max-width: none;
}
.content{
	margin: 0;
	padding: 0;
	text-align: center;
}
.content 
h1{
	position: relative;
	font-family: Papyrus;
	color: white;
	text-shadow: 5px 5px 10px black;
	font-size: 500%;
}

h2{
	
	/* font-family: Brush Script MT; */
	font-family: Papyrus;
	position: relative;
	font-size: 80px;
	color: black;
	
	animation: typing-text 2s steps(24) forwards, blink 0.4s step-end infinite;
	animation-iteration-count: inifite;
	overflow: hidden;
	white-space: nowrap;
	
	border-right: 3px solid black;
}
@keyframes typing-text{
	0%{
		width: 0;
	}
	100%{
		width: 800px;
	}
}
@keyframes blink{
	from,to{border-color:transparent;}
	50%{border-color:black;}
}
















