body{
	background-color: pink;

	
}

#imagecontainer {
	margin: 0 auto;
	margin-top: 3%;
	width:60%;
	height: 56.25%;
	border: 0;
	position: relative;
	opacity: 0.9;
}

#imagecontainer>img{
	max-width:100%;
	position:absolute;
}

.gallary{
	position: relative;
	width: 95%;
	height: 100%;
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
}

.gallary img{
	width: 90%;
	padding: 10px;
	
}